@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Rg.ttf");
}

.container {
	display: flex;
	margin-top: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h5{
    margin-right: 10px;
}

input[type=checkbox] {
	/*margin: 3px 2px 0 0 !important;*/
}

label {
	/*background-color: #f4f4f4;
	padding: 5px 10px;*/
	border-radius: 5px;
	margin-right: 10px;
	font-size: 10px;
	display: inline-block;
}

.button-right {
	float: right;
}

.button {
	margin-right: 10px;
}

.box {
	width: 100%;
}

#optimizationSvgCode {
	width: 100%;
	height: 500px;
}

.textArea {
	width: 100%;
	height: 100px;
	font-size: 10px;
}

.borderBox {
	border: 5px solid #cccccc;
	width: 100%;
	height: 500px;
	overflow: auto;
}

.textBox {
	border: 5px solid #cccccc;
}

/*.shape {
  stroke-width: 1px;
  stroke: #19f6e8;
  border: 5px solid black;
}*/

#originalSvgCode{
	
}

#originalSvgOutput{

}

